* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: #c5baff;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login page */

.login-container {
  display: flex;
  background-color: #cadefc;
  min-height: 90vh;
  min-width: 95vw;
  max-width: 95vw;
  border-radius: 20px;
}

.login-logo {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-logo img {
  width: 90%;
}

.login-form {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form > div {
  background-color: #eef1ff;
  min-width: 90%;
  min-height: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-form > div > form {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-form h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #73c7c7;
}

.login-input {
  width: 30%;
}

.login-form button {
  font-size: 1.2rem;
}

.login-form span {
  color: #73c7c7;
  font-style: italic;
  font-weight: 800;
  cursor: pointer;
}

/* Main Container */

.main-container {
  display: flex;
  background-color: #cadefc;
  min-height: 90vh;
  max-height: 90vh;
  min-width: 95vw;
  max-width: 95vw;
  border-radius: 20px;
}

/* Side Menu */

.sideMenu-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eef1ff;
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  margin-top: 25px;
}

.search {
  display: flex;
  background-color: #eef1ff;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.search input {
  margin-left: 15px;
  padding-left: 15px;
  width: 70%;
  font-size: 1.3rem;
  background-color: #eef1ff;
}

.friendList {
  flex: 1;
  background-color: #eef1ff;
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.friendList::-webkit-scrollbar {
  display: none;
}

.friends-container {
  background-color: #d2daff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  margin-bottom: 15px;
}

.dp {
  background-color: #aac4ff;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-dp {
  font-size: 2rem;
}

.profile-pic-image-small {
  height: 4rem;
  width: auto;
  border-radius: 50%;
}

.info {
  flex: 1;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info > p {
  font-size: 2rem;
  padding-left: 15px;
}

.info div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
}

/* Welcome Page */

.welcomePage-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomePage-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.welcomePage-container img {
  width: 50%;
  height: auto;
  border-radius: 50px;
}

.welcomePage-container p {
  margin-top: 30px;
  font-size: 3rem;
  text-align: center;
  color: #b1b2ff;
}

/* Chat Area */

.chatArea-container {
  flex: 0.7;
  padding: 25px 20px 25px 0px;
  display: flex;
  flex-direction: column;
}

.chat-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef1ff;
  border-radius: 20px;
  padding: 15px 25px 15px 15px;
}

.chat-head > div {
  display: flex;
}

.dp-chat-head {
  background-color: #aac4ff;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
}

.info-chat-head {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.info-chat-head h3 {
  font-size: 2rem;
}

.info-chat-head p {
  margin-top: 5px;
  margin-left: 5px;
}

.chat-space {
  flex: 1;
  border-radius: 20px;
  background-color: #eef1ff;
  margin-top: 15px;
  padding: 0px 20px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-space::-webkit-scrollbar {
  display: none;
}

.yourMsg-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.yourMsg-container div {
  background-color: #cbf1f5;
  padding: 10px 20px;
  border-radius: 20px;
}

.yourMsg-name {
  color: #3674b5;
}

.yourMsg-msg {
  margin-top: 5px;
  font-size: 1.2rem;
}

.yourMsg-time {
  margin-top: 5px;
  text-align: right;
}

.myMsg-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
}

.myMsg-container div {
  background-color: #dcd6f7;
  padding: 10px 20px;
  border-radius: 20px;
}

.myMsg-msg {
  font-size: 1.2rem;
}

.myMsg-time {
  margin-top: 5px;
  text-align: right;
}

.chat-send {
  border-radius: 20px;
  background-color: #eef1ff;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 30px;
}

.chat-send input {
  width: 100%;
  font-size: 2.2rem;
  margin-right: 20px;
  background-color: #eef1ff;
}

/* Create Group */

.createGrp-container {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createGrp-container div {
  width: 80%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #eef1ff;
}

.createGrp-container input {
  width: 90%;
  font-size: 2.5rem;
  background-color: #eef1ff;
}

/* Groups */

.groups-container {
  flex: 0.7;
  padding: 25px 20px 25px 0px;
  display: flex;
  flex-direction: column;
}

.groups-header {
  width: 100%;
  background-color: #eef1ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.groups-header img {
  height: 4.35rem;
  margin-left: 1rem;
  border-radius: 20px;
}

.groups-header p {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.groups-search {
  display: flex;
  background-color: #eef1ff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.groups-search input {
  margin-left: 15px;
  padding-left: 15px;
  width: 90%;
  font-size: 1.3rem;
  background-color: #eef1ff;
}

.available-groups {
  flex: 1;
  width: 100%;
  margin-top: 20px;
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.available-groups::-webkit-scrollbar {
  display: none;
}

.group-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eef1ff;
  margin-bottom: 50px;
  width: 60%;
  border-radius: 20px;
  padding: 25px;
  position: relative;
}

.grp-dp {
  background-color: #aac4ff;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
}

.grp-dp p {
  font-size: 2rem;
}

.grp-info {
  flex: 1;
  display: flex;
  justify-content: center;
}

.grp-info p {
  font-size: 2.5rem;
}

/* Profile */

.profile-container {
  flex: 0.7;
  padding: 25px 20px 25px 0px;
  display: flex;
  flex-direction: column;
}

.profile-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef1ff;
  border-radius: 20px;
  padding: 15px 25px 15px 15px;
}

.profile-head > div {
  display: flex;
}

.profile-body {
  flex: 1;
  border-radius: 20px;
  background-color: #eef1ff;
  margin-top: 15px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-body-1 {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.profile-pic {
  background-color: #aac4ff;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-div1 {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-pic-image {
  height: 15rem;
  width: auto;
  border-radius: 50%;
}

.profile-static-alphabet {
  font-size: 7rem;
}

.camera {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  background-color: #cadefc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dpUpload {
  display: none;
}

.profile-body-1 {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 2rem;
}

.profilePage-input {
  width: 40%;
}

.profile-body-2 {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 1rem;
}

.profile-body-2 > h1 {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-body-2 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.hr {
  width: 80%;
  height: 3px;
  border: none;
  background: linear-gradient(to right, #73c7c7, #b1b2ff);
  border-radius: 2px;
  margin: 15px 0;
  opacity: 0.8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
